<nav>
    <div class="site-header">
        <a href="/"><h1>Truck Tracker</h1></a>
        <p>BCM Deliveries - Victoria, British Columbia</p>
    </div>
    <ul>
        <li><a href="/">Track</a></li>
        <li><a href="/status/create">Create</a></li>
    </ul>
</nav>